html, body{
    all:initial;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15pt;
    background-color: #434371;
    color: aquamarine;
}
main, .maincontainer{
    
    margin-left: 25%;
    margin-right: 25%;
}
a{
    color: #ed254e;
    text-decoration: none;
}
a:hover{
    color: #A70425;
    text-decoration: wavy;
}
header{
    text-align: center;
}
footer{
    text-align: center;
}
h2{
    text-align: center;
}
div.center{
    text-align: center;
}
p.center{
    text-align: center;
}
.italic-text{
    font-style: italic;
}
figure{
    font-style: italic;
    text-align: center;
}
span.divider_head{
    font-size: 15pt;
    color: teal;
}
span.divider_nav{
    font-size: 10pt;
    color: teal;
}
span.bullet{
            /*A00000*/
    color: #AE0A0A;
    font-weight: bold;
}
ul{
    display: inline-block;
    text-align: left;
    margin-left: 20%;
    margin-right: 10%;
}
iframe{
    width: 100%;
}
body.head_foot{
    text-align: center;
    border-width: 0px;
    border: none;
    padding: 0px;
    margin: 0px;
}