<!DOCTYPE html>
<html lang="en">
        <footer>
        <nav class="footer">
            <a href = "https://webpages.charlotte.edu/tguthri2/">Charlotte.edu</a>
            <span class="divider_nav">𒅄</span>
            <a href = "https://github.com/TEGuthrie">GitHub</a>
            <span class="divider_nav">𒅄</span>
            <a href = "https://teguthrie.github.io/">GitHub.io</a>
            <span class="divider_nav">𒅄</span>
            <a href = "https://www.freecodecamp.org/TEGuthrie">freeCodeCamp</a>
            <span class="divider_nav">𒅄</span>
            <a href = "https://www.codecademy.com/profiles/TEGuthrie">CodeAcademy</a>
            <span class="divider_nav">𒅄</span>
            <a href = "https://www.linkedin.com/in/thomas-guthrie-1949ba192/">Linkedin</a>
        </nav>
        <p class = "center">Designed by <a href = "WebGopher.com">Web Gopher Co.</a> &copy;2024</p>
        <div class = "center">

            <a href="https://validator.w3.org/check?uri=referer" id="validation_link_html">
                <img style="border:0;width:88px;height:31px" src="https://mytienhoang.github.io/itis3135/z_archives/html_validation.png" alt="Valid HTML!">
            </a>
            <a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css">
                <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
            </a>
            <a href="https://wave.webaim.org/report#/check?uri=referer" id="validation_accessibility"><img src="images/button_validation_wcag.png"></a>
        </div>
            
        <script>
            document.getElementById("validation_link_html").setAttribute("href","https://validator.w3.org/check?uri=" + location.href);
                document.getElementById("validation_link_css").setAttribute("href","https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
                document.getElementById("validation_accessibility").setAttribute("href", "https://wave.webaim.org/report#/" + location.href);
        </script>
        </footer>
</html>