<!DOCTYPE html>
<html lang="en">
    <header>    
        <h1>Thomas Guthrie's Titanic Gopher <span class="divider_head">𒅄</span> ITIS 3135</h1>
        <nav class="header">
            <a href = "./">Home</a>
            <span class="divider_nav">𒅄</span>
            <a href = "introduction.html">Introduction</a>
            <span class="divider_nav">𒅄</span>
            <a href = "contract.html">Contract</a>
            <span class="divider_nav">𒅄</span>
            <a href="tables.html">Tables</a>
            <span class="divider_nav">𒅄</span>
            <a href = "firstscripts.html">First Scripts</a>
            <span class="divider_nav">𒅄</span>
            <a href="calculator-try.html">Calculator</a>
            <span class="divider_nav">𒅄</span>
            <a href="arrays.html">Arrays</a>
        </nav>
        <nav>
            <a href="hobby/index.html">Hobby</a>
        </nav>
    </header>
</html>