:root{
    --rosy_brown: #BA8F95;
    --air-force: #6A8D92;
    --gunmetal: #2C363F;

    /*
    keeping stuff for js here.
    --theater_back: #090b0c;
    --theater_text: #b7c3cd;
    4d676a
    */
}

body{
    all: initial;
    font-size: 18pt;
    font-family: "Figtree", Verdana, Geneva, Tahoma, sans-serif;
    background-color: #4d676a;
    color: #2C363F;
}
header{
    text-align: center;
}
main{
    background-color: var(--air-force);
    border-top: solid 3px #567863;
}
.main-container{
    margin-left: 5%;
    margin-right: 5%;
}
nav.header{
    margin-bottom: 5px;
}
a{
    color: #D0FFD6;
    text-decoration: none;
    margin: 5px;
}
a:hover{
    color: #70ff83;
}
img.logo{
    position:absolute;
    top: 1%;
    left: 1%;
    border: solid var(--rosy_brown) 2px;
    border-radius: 5%;
    
}
button{
    background-color: var(--rosy_brown);
    border-radius: 5px;
}
.video_container{
    display: flex;
}
video{
    width: 500px;
    margin: 2px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
}
.subgallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.imgGallery{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5%;
    margin: 5px;
    border: 2px solid var(--air-force);
}
.imgGallery:hover{
    border-radius: 7%;
    border: 2px solid var(--gunmetal); 
}
.popout{
    margin: auto;
    background-color: #2C363FDD;
    width: 100vw;
    height: 100%;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
}
.pop-image{
    width: 50px;
    height: auto;
    max-height: 600px;
    object-fit: contain;
    display: block;
}
.popout span{
    align-self:flex-start;
    color: #D0FFD6;
    display: block;
}
.popout span:hover{
    align-self:flex-start;
    cursor: pointer;
    display: block;
}
.titillium-web-regular {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .titillium-web-semibold {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .titillium-web-bold {
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: normal;
  }